/* Custom Utilities */

.text-navy        {  color: @ether-navy;    }
.text-gray-lighter    {  color: @gray-lighter;    }
.text-blue        {  color: @ether-blue;    }
.text-white       {  color: #fff;           }

.bg-navy { background: @ether-navy; }
.bg-gradient {
  
  //background: @ether-navy;
  //background: linear-gradient(149deg,#fff,#fff,#fff,#3C3DCA,#41ACBB,#2EC4AD);
  //background-image: url('../images/hero-bg.png');
  //background-size: cover;
  //background-position: right top;
  //background-repeat: no-repeat;
  //position: relative;
  //overflow: hidden;
  width:100%;
}
.bg-gray-lighter    {  background-color: @gray-lighter;  }
.bg-blue        {  background-color: @ether-blue;  }
.bg-white       {  background-color: #fff;         }

.text-serif       {  font-family: @font-family-serif; }
.text-sans-serif  {  font-family: @font-family-sans-serif; }

.pad-v-sm {
  padding-top: .5em;
  padding-bottom: .5em;
}

.pad-v-md {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pad-v-lg {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.pad-v-xl {
  padding-top: 2em;
  padding-bottom: 2em;
}

.marg-v-sm {
  margin-top: .5em;
  margin-bottom: .5em;
}

.marg-v-md {
  margin-top: 1em;
  margin-bottom: 1em;
}

.marg-v-lg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.marg-v-xl {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero-section {
  //height: 900px;
  //padding-top: 20px;
  //padding-left:100px;
  //display: block;
  //width:100%;
  //background-image: url("../images/hero-bg.png");
  //background-size: cover;
  //background-color: #f3f7f9;
  //background-position: 58.5% top;
  //background-repeat: no-repeat;
  //position: relative;
  //overflow: hidden;
}

.hero-section .laptop-image {
  width: 685px;
  max-width: none;
  position: relative;
  left: 80px;
}

.hero-text {
  padding-top: 60px;
}

.hero-text h2 {
  font-size: 70px;
  margin-bottom: 35px;
}

.hero-text h2 span {
  color: #16d0c5;
}

.hero-text h4 {
  color: #75849a;
  font-size: 22px;
}

.hero-subscribe-from {
  margin-top: 50px;
  display: block;
}

.hero-subscribe-from input {
  width: 315px;
  border: 1px solid #ebebeb;
  background: #fff;
  height: 48px;
  padding: 0 25px;
  border-radius: 50px;
  font-family: "Futura", sans-serif;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.img-fill {
  width: 100%;
  height: auto;
  max-width: 100%;
}
